header
  .logo
    padding: 1.25em 0em 1.25em 0em
    a 
      display: inline-block

  .social 
    text-align: right
    line-height: 5em
    a 
      border-radius: 50%
      width: 2em
      height: 2em
      text-align: center
      line-height: 2em
      display: inline-block
      background: navy
      color: #fff
      margin-left: 1em
  
  .menu 
    background: $primario
    margin-bottom: 1.25em
    ul
      list-style: none
      overflow: hidden
      margin: 0
      padding: 0s
      li
        float: left 
        display: inline-block
        a, a:active, a:visited 
          color: #fff
          display: inline-block
          padding: 1em 1.25em
          font-size: 0.87em
          &hover
            text-decoration: none
            background: $secundario